.input{
    width: 250px;
    & input{
        font-family: 'Poppins';
        width: 100%;
        padding: 10px 0 10px 10px;
        background-color: #E8F0FE;
        border:1px solid #cdd0d2;
    }
}