.create-resume{
    display: flex;
    &__back {
        font-family: 'Poppins';
        transition:0.3s ease-in-out;
        font-size: 20px;
        color: #6f6f74;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 600;
        margin-bottom: 50px;
        padding-top: 50px;
        &:hover {
            cursor: pointer;
            & img {
                transform: scale(1.1);
            }
        }
    }
    &__template {
        width: 50%;
        background-color: #303463;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        &-wrap {
            transform: scale(0.7); /* Adjust the scale factor as needed */
        }
        &-btn {
          position: absolute;
          bottom:35px;
        }
    }
    &__active {
        & h2 {
            color: #6A6969 !important;
        }
    }
    &__fields {
        height: 100vh;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        width:50%;
        padding: 0 100px 100px 100px;
    }
    &__field {
        &-name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & h2 {
            font-family: 'Poppins';
            font-size: 20px;
            color: #A2A2A8;
            font-weight: 600;
            }
            & img {
                width: 30px;
                height: 30px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__professional-text{
        margin-top: 30px;
    }

}

input, textarea {
    font-family: 'Poppins';
    padding: 12px 10px;
    background-color: #EFF2F9;
    border:none;
    width: 100%;
}
textarea {
    resize: none;
    height: 150px;
}
.break {
    width: 100%;
    margin: 40px 0;
    border:0.5px solid #e5e7ec;
}