.dashboard{
    font-family: 'Poppins';
    background-color: rgb(255, 251, 251);
    &__add-template{
        margin:50px 50px 50px 270px;
        padding-left:50px;
        min-height: 100vh;
        width: 100%;
    }
    &__templates{
        margin:50px 50px 0px 270px;
        padding-left:50px;
        width: 100%;
        min-height: 100vh;
        & h2 {
            font-size: 24px;
            font-weight:600;
            letter-spacing: -0.0001px;
            color:#13287e;
            margin-bottom: 40px;
        }
        & ul {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            & li {
                height: 300px;
                width: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                & img {
                    width: 100%;
                    height: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    object-fit: cover;
                }
                & p{
                    font-size: 14px;
                }
            }
        }
    }
    &__wrapper{
        display: flex;
        width: 100%;
    }
    &__create{
        width: 200px;
        height: 300px;
        border:1px solid  rgb(210, 203, 203);
        border-style: dotted;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        & p{
            font-size: 14px;
            font-weight:400;
            color: rgb(173, 165, 165);
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__existing{
        margin-top: 100px;
        width: 100%;
        // &-resumes{
        //     display: flex;
        //     justify-content: center;
        //     align-items: flex-start;
        //     height: 400px;
        // }
        // height: 400px;
        // &-template {
        //     scale: 0.3;
        // }
        & h2 {
            font-size: 24px;
            font-weight:600;
            letter-spacing: -0.0001px;
            color:#13287e;
        }
        &-resumes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 40px;
            gap: 20px;
        }
    }
}

.menu{
    font-family: 'Poppins';
    position: fixed;
    top: 0;
    padding: 20px;
    width: 270px;
    background-color: #0f1e5a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__logo{
        font-size: 35px;
        font-weight:600;
        letter-spacing: -1.8px;
        color: white;
        & a{
            text-decoration: none;
            color: white;
        }
    }
    &__items{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        &-second {
            gap:20px;
            display: flex;
            flex-direction: column;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover{
            cursor: pointer;
        }
        & p{
            font-size: 16px;
            font-weight:400;
            color: #A2A2A8;
        }
    }
    &__logout{
        margin-top: 70vh;
    }
}

.active-tab {
    & p {
        color:#ffffff;
    }
}

router-link {
    text-decoration: none;
}