.btn {
  padding: 0;
  width: 13.625rem; 
  height: 3.75rem; 
  background: #13287e;
  border-radius: 0.4rem;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.003px;
  color:white;
  border:1px solid #13287e;
  text-transform: uppercase;
  &:hover {
    transition: 0.3s ease-in-out;
    background-color: white;
    color: #13287e;
    cursor: pointer;
    border: 1px solid #13287e;
  }
  &__template{
    border:1px solid #3e94e4;
    background-color: #3e94e4;
    &:hover{
      color: #3e94e4;
      border:1px solid  #3e94e4;
      background-color: white;

    }
  }
  &__authentication{
    width: 10.625rem; 
    height: 2.75rem; 
  }
}
